.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.profile-container ul {
    overflow-y: scroll;
    height: 80vh;
    padding: 0 40px 0 40px;
}

.profile-user-container {
    display: flex;
    align-items: center;
}

.profile-user-container button {
    width: 100px;
    height: 40px;
}

.profile-icon-container img {
    width: 200px;
    border-radius: 10px;
}

.profile-icon-container p {
    margin: auto;
    transform: translateY(-15px);
    background: #141414;
    width: 70px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}